<%- include('./partial/header.ejs') %>
<link rel="stylesheet" href="css/style.css">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Project</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body id="mainbody">
    <div class="header">
        <h1>Unleashing Creativity in Blogging - Unique Designs and Creative Insights"❤️</h1> 
    </div>
    <div class="page">
        <h2 style=
        "text-align: center;
        margin-top: 3%;
        font-size: xx-large;">Explore Our Blogging Journey - "All Posts in One Place!"</h2>
        <ul class="list">
            <li><a href="https://www.w3schools.com/css/css_background.asp">CSS Backgrounds</a></li>
            <li><a href="https://www.w3schools.com/css/css_margin.asp">CSS Margins</a></li>
            <li><a href="https://www.w3schools.com/css/css_boxmodel.asp">CSS Box Model</a></li>
            <li><a href="https://www.w3schools.com/css/css_positioning.asp">CSS Layout - The position Property</a></li>
            <li><a href="https://www.w3schools.com/bootstrap5/index.php">Bootstrap 5</a></li>
            <li><a href="https://www.w3schools.com/js/js_statements.asp">JavaScript Statements</a></li>
            <li><a href="https://www.w3schools.com/js/js_variables.asp">JavaScript Variables</a></li>
            <li><a href="https://www.w3schools.com/js/js_functions.asp">JavaScript Functions</a></li>
            <li><a href="https://www.w3schools.com/js/js_arrays.asp">JavaScript Arrays</a></li>
            <li><a href="https://www.w3schools.com/js/js_if_else.asp">JavaScript if, else, and else if</a></li>
        </ul>
        
    </div>
    
    
</body>
</html>

<%- include('./partial/footer.ejs') %>

