<link rel="stylesheet" href="css/style.css">
<div class="ftt">
  <footer>
  <p class="footerr">Copy Rights @<%= new Date().getFullYear(); %> Creative Blogger. All Rights Reserved.</p>
</footer>
</div>

   
